.view-staff-table {
 width: 30rem;
    
    
  }
  
  

  .d-c{
    
  }
  

  @media only screen and (min-width: 500px){
    
    .mat-column-staff-id {
       border: solid 1px black;
       width: 100%;
       text-align: left;
       
    }
  }
  
  