
  
  .login-input {
    padding: 0.5rem;
    border: solid 2px black;
    width: 20rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
  }
  
  .login-input:hover {
    box-shadow: 0 0 5px #a0acbb;
  }
  
  .create-student {
    color: #fff;
    background-color: #2160a6;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .create-student:hover {
    box-shadow: 0 0 5px #a0acbb;
    background-color: #2e84e6;
  }
  
  .address {
    @apply w-[20rem] h-[7rem] border-2 rounded-md p-2 border-black;
    font-weight: 600;
    font-size: medium;
  }
  
  .address:hover {
    box-shadow: 0 0 5px #a0acbb;
  }

  .student-id{
    padding: 0.5rem;
    border: solid 2px black;
    width: 20rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
    background-color: #1E3A8A;
    color: #fff;
  }
  