<div>

    <mat-toolbar class="text-blue-900 justify-between">
        <div class="text-base font-bold">Time-Table</div>
        <div
          class="flex justify-between text-sm flex-col md:flex-row md:gap-2 text-blue-500"
        >
          Welcome back <span class="text-green-800 italic">Timothy</span>
        </div>
      </mat-toolbar>


      <div>

        <table>
            <tr>
                <th>
                    
                </th>
            </tr>
        </table>
      </div>

</div>