<main class="flex flex-col items-center justify-center">
  <div class="logo"><img class="m-3" src="../../../../../assets/logo.jpg" /></div>
  <div
    class="modules grid grid-cols-2 place-items-center sm:grid-cols-3 gap-0 p-10 font-sans rounded-md"
  >
    <div
      class="prog-1 sm:border-blue-200 sm:border-r-2 sm:border-b-2 w-[12rem] "
    >
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer hover:translate-x-1"
      >
        <a routerLink="enroll-to-school" class="flex flex-col items-center justify-center">
          <i
            class="fa fa-pencil-square text-[3rem] mb-1"
            aria-hidden="true"
          ></i>
          <i class="block text-sm"> Entoll to School</i>
        </a>
      </div>
    </div>
    <div
      class="prog-2 sm:border-blue-200 sm:border-r-2 sm:border-b-2 w-[12rem]"
    >
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer hover:translate-x-1"
      >
        <a routerLink="staf-portal" class="flex flex-col items-center justify-center">
          <i class="fa fa fa-users text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> Staff Portal</i>
        </a>
      </div>
    </div>
    <div class="prog-3 sm:border-blue-200 sm:border-b-2 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer hover:translate-x-1"
      >
        <a routerLink="student-portal" class="flex flex-col items-center justify-center">
          <i
            class="fa fa-graduation-cap text-[3rem] mb-1"
            aria-hidden="true"
          ></i>
          <i class="block text-sm"> Student Portal</i>
        </a>
      </div>
    </div>
    <div class="prog-4 sm:border-blue-200 sm:border-r-2 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer hover:translate-x-1"
      >
        <a routerLink="curriculum" class="flex flex-col items-center justify-center">
          <i class="fa fa-file-text text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> Curriculum</i>
        </a>
      </div>
    </div>
    <div
      class="prog-5 sm:border-blue-200 sm:border-r-2 w-[12rem] cursor-pointer"
    >
      <div class="p-10 flex flex-col items-center justify-center text-white hover:translate-x-1">
        <a routerLink="news" class="flex flex-col items-center justify-center">
          <i class="fa fa-newspaper text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> News</i>
        </a>
      </div>
    </div>
    <div class="prog-6 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer hover:translate-x-1"
      >
        <a routerLink="mobile" class="flex flex-col items-center justify-center">
          <i class="fa fa-mobile text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> Mobile</i>
        </a>
      </div>
    </div>
  </div>
</main>
