<main class="flex flex-col items-center justify-center w-full">
  <div class="staff">
    <img class="m-3" src="../../../../../assets/logo.jpg" />
  </div>
  <div
    class="modules grid grid-cols-2 place-items-center sm:grid-cols-3 gap-0 p-10 font-sans rounded-md blue sh"
  >
    <div
      class="prog-1 sm:border-blue-200 sm:border-r-2 sm:border-b-2 w-[12rem]"
    >
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer"
      >
        <a
          routerLink="enroll-to-school"
          class="flex flex-col items-center justify-center"
        >
          <i
            class="fa fa-pencil-square text-[3rem] mb-1"
            aria-hidden="true"
          ></i>
          <i class="block text-sm"></i> Enroll to School
        </a>
      </div>
    </div>
    <div
      class="prog-2 sm:border-blue-200 sm:border-r-2 sm:border-b-2 w-[12rem]"
    >
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer"
      >
        <a
          routerLink="staff/login"
          class="flex flex-col items-center justify-center"
        >
          <i class="fa fa fa-users text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"></i> Staff Portal
        </a>
      </div>
    </div>
    <div class="prog-3 sm:border-blue-200 sm:border-b-2 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer"
      >
        <a
          routerLink="student-login"
          class="flex flex-col items-center justify-center"
        >
          <i
            class="fa fa-graduation-cap text-[3rem] mb-1"
            aria-hidden="true"
          ></i>
          <i class="block text-sm"> </i>Student Portal
        </a>
      </div>
    </div>
    <div class="prog-4 sm:border-blue-200 sm:border-r-2 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer"
      >
        <a
          routerLink="curriculum"
          class="flex flex-col items-center justify-center"
        >
          <i class="fa fa-file-text text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"></i> Curriculum
        </a>
      </div>
    </div>
    <div
      class="prog-5 sm:border-blue-200 sm:border-r-2 w-[12rem] cursor-pointer"
    >
      <div
        class="p-10 flex flex-col items-center justify-center text-white"
      >
        <a routerLink="news" class="flex flex-col items-center justify-center">
          <i class="fa fa-newspaper text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> </i>News
        </a>
      </div>
    </div>
    <div class="prog-6 w-[12rem]">
      <div
        class="p-10 flex flex-col items-center justify-center text-white cursor-pointer"
      >
        <a
          routerLink="mobile"
          class="flex flex-col items-center justify-center"
        >
          <i class="fa fa-mobile text-[3rem] mb-1" aria-hidden="true"></i>
          <i class="block text-sm"> </i>Mobile
        </a>
      </div>
    </div>
  </div>
</main>
