<div class="w-full">
  <mat-toolbar class="text-blue-900 justify-between">
    <div class="text-base font-bold">Admin Dashboard</div>
    <div
      class="flex justify-between text-sm flex-col md:flex-row md:gap-2 text-blue-500"
    >
      Welcome back <span class="text-green-800 italic">Timothy</span>
    </div>
  </mat-toolbar>

  <div class="main-dashboard">
    <div class="flex gap-6 justify-center mt-2">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div>
          <mat-card class="my-2 hover:shadow-xl hover:border-blue-700"
            ><div class="w-[10rem] h-[4rem]">
              <h5 class="bold">Total Number Of Students</h5>
            </div>
          </mat-card>
        </div>
        <div>
          <mat-card class="my-2 hover:shadow-xl hover:border-blue-700"
            ><div class="w-[10rem] h-[4rem]">
                <h5 class="bold">Total number of staff</h5>
            </div>
          </mat-card>
        </div>
        <div>
          <mat-card class="my-2 hover:shadow-xl hover:border-blue-700"
            ><div class="w-[10rem] h-[4rem]">
                <h5 class="bold">Total number of class</h5>
            </div>
          </mat-card>
        </div>
        <div>
          <a routerLink="uploads">
            <mat-card
              class="my-2 border-l-[1rem] border-l-blue-900 hover:shadow-xl hover:border-blue-700"
              ><div class="w-[10rem] h-[4rem]">
                <h4 class="font-bold">Upload certificates</h4>
              </div>
            </mat-card>
          </a>
        </div>
        <div>
          <a routerLink="uploads">
            <mat-card
              class="my-2 border-l-[1rem] border-l-blue-900 hover:shadow-xl hover:border-blue-700"
              ><div class="w-[10rem] h-[4rem]">
                <h4 class="font-bold">Upload certificates</h4>
              </div>
            </mat-card>
          </a>
        </div>
        <div>
          <a routerLink="uploads">
            <mat-card
              class="my-2 border-l-[1rem] border-l-blue-900 hover:shadow-xl hover:border-blue-700"
              ><div class="w-[10rem] h-[4rem]">
                <h4 class="font-bold">Upload certificates</h4>
              </div>
            </mat-card>
          </a>
        </div>
      </div>

      <div>
        <a routerLink="uploads">
          <mat-card class="my-2 hover:shadow-xl hover:border-blue-700"
            ><div class="w-[12rem] h-[12rem]">
              <h4 class="font-bold">Upload certificates</h4>
            </div>
          </mat-card>
        </a>
      </div>
    </div>
  </div>


  <div class="mt-6 flex justify-center items-center">
    <mat-card class="h-[20rem]">

    </mat-card>
  </div>
</div>
