<div>
  <h3 [ngStyle]="successMessage ? { color: 'green' } : { color: 'red' }" class="text-sm">
    {{ successMessage ? successMessage : errormessage }}
  </h3>
  <form
    class="flex flex-col gap-3  justify-center items-center"
    [formGroup]="changePassword"
    (ngSubmit)="handleSubmit()"
  >
    <div class="flex flex-col gap-1">
      <input
        type="password"
        class="login-input"
        placeholder="Old password"
        formControlName="oldPassword"
        autofocus
      />
    </div>
    <div class="flex flex-col gap-1">
      <input
        type="password"
        class="login-input"
        formControlName="newPassword"
        placeholder="New password"
      />
    </div>
    <div class="flex flex-col gap-1">
      <input
        type="password"
        class="login-input"
        placeholder="Confirm new password"
        formControlName="confirmNewPassword"
      />
    </div>
    <div class="flex justify-center items-center">
      <button class="change-password">Update Password</button>
    </div>
  </form>
</div>
