/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 10%;
  border-bottom: 1px solid #b8d3f1;
  border-right: 1px solid #b8d3f1;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 70%;
  border-bottom: 1px solid #b8d3f1;
  border-right: 1px solid #b8d3f1;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 20%;
  border-bottom: 1px solid #b8d3f1;
}

th,
td {
  padding: 10px;
}

.last td:nth-child(1),
.last td:nth-child(2),
.last td:nth-child(3) {
  border-bottom: none;
}
